<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="container-fluid text-center mt-3">
        <nav class="nav">
            <div class="col">
                <a class="nav-link text-primary" th:href="@{/}"
                   th:text="#{menu_admin.back_to_main}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.certificate_order'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.certificate_order}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/certificateorder}"
                   th:text="#{menu_admin.certificate_order}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.certificate'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu.certificate}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/certificate}"
                   th:text="#{menu.certificate}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.certificate_type'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.certificate_type}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/certificatetype}"
                   th:text="#{menu_admin.certificate_type}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.certificate_decoration'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.certificate_decoration}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/certificatedecoration}"
                   th:text="#{menu_admin.certificate_decoration}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.photosession'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.photosession}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/photosession}"
                   th:text="#{menu_admin.photosession}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.horses'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.horses}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/horse}"
                   th:text="#{menu_admin.horses}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.coaches'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.coaches}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/coach}"
                   th:text="#{menu_admin.coaches}"></a>
            </div>
            <div class="col" th:with="condition=${title eq 'menu_admin.upload'}">
                <a th:if="${condition}" class="nav-link text-secondary underline" href=""
                   th:text="#{menu_admin.upload}"></a>
                <a th:unless="${condition}" class="nav-link text-primary" th:href="@{/admin/upload}"
                   th:text="#{menu_admin.upload}"></a>
            </div>
        </nav>
        <hr/>
    </div>
</div>
</html>