<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="content">
        <meta charset="UTF-8">
        <title th:text="#{${title}}"></title>
        <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/own.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
        <script th:src="@{/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap.bundle.js}"></script>
</head>

