<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/admin_header :: content"></header>

<div class="container-fluid">

    <!-- Collapse for FILTER -->
    <div class="collapse" th:classappend="${certificateOrderFilter.isApplying() ? 'show' : ''}" id="collapseExample">
        <div class="card card-body">
            <form id="filter-form" th:action="@{/admin/certificateorder/}" th:method="get"
                  th:object="${certificateOrderFilter}">

                <div class="d-flex justify-content-center">

                    <!-- Owner filter -->
                    <div>
                        <label for="ownerLabel"
                               class="form-label mt-4"
                               th:text="#{menu_admin.common.table.certificate_owner}">
                        </label>
                        <input type="text"
                               class="form-control"
                               th:value="${certificateOrderFilter.ownerFilter}"
                               th:field="*{ownerFilter}"
                               id="ownerLabel">
                    </div>
                    <!-- Details filter -->
                    <div class="px-5">
                        <label for="deliveryLabel"
                               class="form-label mt-4"
                               th:text="#{menu_admin.common.table.details}">
                        </label>
                        <input type="text" class="form-control"
                               id="deliveryLabel"
                               th:value="${certificateOrderFilter.detailsFilter}"
                               th:field="*{detailsFilter}">
                    </div>

                    <!-- User filter -->
                    <div class="px-5">
                        <label for="userLabel"
                               class="form-label mt-4"
                               th:text="#{menu_user.login}">
                        </label>
                        <select class="form-select"
                                aria-label="Default select example"
                                id="userLabel"
                                name="user">
                            <th:block th:each="userNameDto : ${userNameDtoList}">
                                <option th:value="${userNameDto.username}"
                                        th:text="${userNameDto.username}"
                                        th:selected="${userNameDto eq certificateOrderFilter.user}">
                                </option>
                            </th:block>
                        </select>
                    </div>

                </div>
            </form>

            <div class="d-flex justify-content-center mt-2">
                <div>
                    <button class="btn btn-outline-primary"
                            form="filter-form"
                            th:text="#{common.button.apply}">
                    </button>
                </div>
                <div class="px-2">
                    <form th:action="@{/admin/certificateorder/resetfilter}" th:method="post">
                        <button class="btn btn-outline-secondary"
                                th:text="#{common.button.reset}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-2 mt-5">

    <div class="d-flex mb-3">
        <!-- Add new certificateOrder -->
        <div class="me-auto p-2">
            <form th:action="@{/admin/certificateorder/}" th:method="post"
                  th:object="${certificateOrderDto}">
                <button type="button"
                        class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#add-certificateOrder"
                        th:text="#{common.button.add}">
                </button>
                <!--  Modal for add certificate order -->
                <div class="modal fade" id="add-certificateOrder" tabindex="-1"
                     role="dialog" aria-labelledby="exampleModalLabel44" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel44"
                                    th:text="#{common.button.adding}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!-- CertificateOrder ID -->
                                <!== NOT FILLING -->

                                <!-- CertificateOrder status -->
                                <div class="input-group mt-3">
                                        <span class="input-group-text text-black-50"
                                              th:text="#{menu_admin.common.table.order_status}">
                                        </span>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            name="orderStatus">
                                        <th:block th:each="orderStatus : ${orderStatusList}">
                                            <option
                                                    th:text="${orderStatus.name()}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- CertificateOrder details -->
                                <div class="input-group mt-3">
                                        <span class="input-group-text text-black-50"
                                              th:text="#{menu_admin.common.table.details}">
                                        </span>
                                    <textarea class="form-control"
                                              aria-label="With textarea"
                                              rows="5"
                                              name="details"></textarea>
                                </div>

                                <!-- CertificateOrder owner -->
                                <div class="mt-3">
                                    <label for="ownerLabel01"
                                           class="form-label"
                                           th:text="#{common.enter_certificate_owner}">
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="owner"
                                           id="ownerLabel01">
                                </div>

                                <!-- CertificateOrder eventDate -->
                                <div class="mt-3">
                                    <label for="eventDateLabel01"
                                           class="form-label"
                                           th:text="#{common.choose_eventdate}">
                                    </label>
                                    <input type="date"
                                           class="form-control"
                                           name="eventDate"
                                           id="eventDateLabel01">
                                </div>

                                <!-- CertificateOrder certificate -->
                                <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.certificate}">
                                                    </span>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            name="certificate">
                                        <th:block th:each="certificateNameDto : ${certificateNameDtoList}">
                                            <option th:value="${certificateNameDto.id}"
                                                    th:text="${certificateNameDto.name}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- CertificateOrder certificateDecoration -->
                                <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.decoration}">
                                                    </span>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            name="certificateDecoration">
                                        <th:block
                                                th:each="certificateDecorationNameDto : ${certificateDecorationNameDtoList}">
                                            <option th:value="${certificateDecorationNameDto.id}"
                                                    th:text="${certificateDecorationNameDto.name}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- CertificateOrder user -->
                                <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_user.login}">
                                                    </span>
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            name="user">
                                        <th:block th:each="userNameDto : ${userNameDtoList}">
                                            <option th:value="${userNameDto.username}"
                                                    th:text="${userNameDto.username}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <div class="input-group mt-3">
                                    <h5>
                                        <div class="form-check form-switch">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   name="mailNeedance">
                                        </div>
                                    </h5>
                                    <span class="text-danger"
                                          id="mailNeedance"
                                          th:text="#{menu_admin.user_notification_email}">
                                        </span>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        th:text="#{common.button.cancel}">
                                </button>

                                <button class="btn btn-primary"
                                        th:text="#{common.button.save}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Filter certificate orders -->
        <div class='p-2'>
            <form th:action="@{/admin/certificateorder/}" th:method="get"
                  th:object="${certificateOrderFilter}">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample"
                        th:text="#{common.button.filter}">
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Certificate order TABLE -->
<div class="row mx-2 mt-2">
    <div th:with="condition=${certificateOrderPage != null}">
        <div th:if="${condition}">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center align-middle"
                        th:with="ID=${T(by.academy.it.task13.entity.CertificateOrder_).ID}">
                        <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + ID + '&sortDirection='+ reverseSortDirection}}">
                            №
                        </a>
                    </th>
                    <th class="text-center align-middle"
                        th:with="USER=${T(by.academy.it.task13.entity.CertificateOrder_).USER}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + USER + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.user}">
                            </a>
                            <i th:if="${sortField == USER}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="EVENT_DATE=${T(by.academy.it.task13.entity.CertificateOrder_).EVENT_DATE}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + EVENT_DATE + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.event_date}">
                            </a>
                            <i th:if="${sortField == EVENT_DATE}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="ORDER_STATUS=${T(by.academy.it.task13.entity.CertificateOrder_).ORDER_STATUS}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + ORDER_STATUS + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.order_status}">
                            </a>
                            <i th:if="${sortField == ORDER_STATUS}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="CERTIFICATE=${T(by.academy.it.task13.entity.CertificateOrder_).CERTIFICATE}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + CERTIFICATE + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{common.certificate}">
                            </a>
                            <i th:if="${sortField == CERTIFICATE}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="CERTIFICATE_DECORATION=${T(by.academy.it.task13.entity.CertificateOrder_).CERTIFICATE_DECORATION}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + CERTIFICATE_DECORATION + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{common.decoration}">
                            </a>
                            <i th:if="${sortField == CERTIFICATE_DECORATION}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="OWNER=${T(by.academy.it.task13.entity.CertificateOrder_).OWNER}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + OWNER + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.certificate_owner}">
                            </a>
                            <i th:if="${sortField == OWNER}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="DETAILS=${T(by.academy.it.task13.entity.CertificateOrder_).DETAILS}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + DETAILS + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.details}">
                            </a>
                            <i th:if="${sortField == DETAILS}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="CREATED=${T(by.academy.it.task13.entity.CertificateOrder_).CREATED}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + CREATED + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.created}">
                            </a>
                            <i th:if="${sortField == CREATED}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"
                        th:with="UPDATED=${T(by.academy.it.task13.entity.CertificateOrder_).UPDATED}">
                        <div class="row">
                            <a th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + '&sortField=' + UPDATED + '&sortDirection='+ reverseSortDirection}}"
                               th:text="#{menu_admin.common.table.updated}">
                            </a>
                            <i th:if="${sortField == UPDATED}"
                               class="text-success"
                               th:classappend="${sortDirection == 'desc' ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'}"></i>
                        </div>
                    </th>
                    <th class="text-center align-middle"><i class="bi bi-sliders font_size_24"></i></th>
                    <th class="text-center align-middle"><i class="bi bi-x-lg font_size_24"></i></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="certificateOrder, state : ${certificateOrderPage.page}">
                    <tr>
                        <td class="text-center align-middle"
                            th:text="${state.index + 1 + (certificateOrderPage.control.pageNumber - 1) * certificateOrderPage.control.pageSize}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.user.username}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.eventDate}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.orderStatus.name()}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.certificate.name}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.certificateDecoration.name}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.owner}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.details}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.created}">
                        </td>
                        <td class="text-center align-middle"
                            th:text="${certificateOrder.updated}">
                        </td>

                        <!-- Form for editing certificate order -->
                        <form th:action="@{/admin/certificateorder/}" th:method="post"
                              th:object="${certificateOrder}">

                            <td class="text-center align-middle">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#editcertificateOrder'+${certificateOrder.id}">
                                    <i class="bi bi-pencil-square font_size_20"></i>
                                </button>
                            </td>

                            <!-- Modal for edit certificate order-->
                            <div class="modal fade" th:id="${'editcertificateOrder'+certificateOrder.id}"
                                 tabindex="-1"
                                 role="dialog" aria-labelledby="exampleModalLabel68" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel68"
                                                th:text="#{common.button.editing}"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- Certificate id -->
                                            <input type="hidden"
                                                   th:value="${certificateOrder.id}"
                                                   name="id">

                                            <!-- Certificate created -->
                                            <input type="hidden"
                                                   th:value="${certificateOrder.created}"
                                                   name="created">

                                            <!-- CertificateOrder status -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.order_status}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        name="orderStatus">
                                                    <th:block th:each="orderStatus : ${orderStatusList}">
                                                        <option
                                                                th:text="${orderStatus.name()}"
                                                                th:selected="${orderStatus.name() == certificateOrder.orderStatus.name()}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder details -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.details}">
                                                    </span>
                                                <textarea class="form-control"
                                                          aria-label="With textarea"
                                                          rows="5"
                                                          th:text="${certificateOrder.details}"
                                                          name="details"></textarea>
                                            </div>

                                            <!-- CertificateOrder owner -->
                                            <div class="mt-3">
                                                <label for="ownerLabel03"
                                                       class="form-label"
                                                       th:text="#{common.enter_certificate_owner}">
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="owner"
                                                       th:value="${certificateOrder.owner}"
                                                       id="ownerLabel03">
                                            </div>

                                            <!-- CertificateOrder eventDate -->
                                            <div class="mt-3">
                                                <label for="eventDateLabel03"
                                                       class="form-label"
                                                       th:text="#{common.choose_eventdate}">
                                                </label>
                                                <input type="date"
                                                       class="form-control"
                                                       name="eventDate"
                                                       th:value="${certificateOrder.eventDate}"
                                                       id="eventDateLabel03">
                                            </div>

                                            <!-- CertificateOrder certificate -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.certificate}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        name="certificate">
                                                    <th:block
                                                            th:each="certificateNameDto : ${certificateNameDtoList}">
                                                        <option th:value="${certificateNameDto.id}"
                                                                th:text="${certificateNameDto.name}"
                                                                th:selected="${certificateNameDto.name == certificateOrder.certificate.name}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder certificateDecoration -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.decoration}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        name="certificateDecoration">
                                                    <th:block
                                                            th:each="certificateDecorationNameDto : ${certificateDecorationNameDtoList}">
                                                        <option th:value="${certificateDecorationNameDto.id}"
                                                                th:text="${certificateDecorationNameDto.name}"
                                                                th:selected="${certificateDecorationNameDto.name == certificateOrder.certificateDecoration.name}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder user -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_user.login}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        name="user">
                                                    <th:block th:each="userNameDto : ${userNameDtoList}">
                                                        <option th:value="${userNameDto.username}"
                                                                th:text="${userNameDto.username}"
                                                                th:selected="${userNameDto.username == certificateOrder.user.username}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <div class="input-group mt-3">
                                                <h5>
                                                    <div class="form-check form-switch">
                                                        <input type="checkbox"
                                                               class="form-check-input"
                                                               name="mailNeedance">
                                                    </div>
                                                </h5>
                                                <span class="text-danger"
                                                      id="mailNeedance2"
                                                      th:text="#{menu_admin.user_notification_email}">
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                    th:text="#{common.button.cancel}">
                                            </button>

                                            <button class="btn btn-primary"
                                                    th:text="#{common.button.save_changes}">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Form for deleting certificate order -->
                        <form th:action="@{/admin/certificateorder/delete}" th:method="post"
                              th:object="${certificateOrder}">

                            <td class="text-center align-middle">
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#deletecertificateOrder'+${certificateOrder.id}">
                                    <i class="bi bi-trash3 font_size_20"></i>
                                </button>
                            </td>

                            <!-- Modal for delete certificate order-->
                            <div class="modal fade" th:id="${'deletecertificateOrder'+certificateOrder.id}"
                                 tabindex="-1"
                                 role="dialog" aria-labelledby="exampleModalLabel68" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel68"
                                                th:text="#{common.button.editing}"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- Certificate id -->
                                            <input type="hidden"
                                                   th:value="${certificateOrder.id}"
                                                   name="id">

                                            <!-- Certificate created -->
                                            <input type="hidden"
                                                   th:value="${certificateOrder.created}"
                                                   name="created">

                                            <!-- CertificateOrder status -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.order_status}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        name="orderStatus"
                                                        disabled>
                                                    <th:block th:each="orderStatus : ${orderStatusList}">
                                                        <option
                                                                th:text="${orderStatus.name()}"
                                                                th:selected="${orderStatus.name() == certificateOrder.orderStatus.name()}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder details -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.details}">
                                                    </span>
                                                <textarea class="form-control"
                                                          aria-label="With textarea"
                                                          rows="5"
                                                          th:text="${certificateOrder.details}"
                                                          disabled
                                                          name="details"></textarea>
                                            </div>

                                            <!-- CertificateOrder owner -->
                                            <div class="mt-3">
                                                <label for="ownerLabel08"
                                                       class="form-label"
                                                       th:text="#{common.enter_certificate_owner}">
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="owner"
                                                       th:value="${certificateOrder.owner}"
                                                       disabled
                                                       id="ownerLabel08">
                                            </div>

                                            <!-- CertificateOrder eventDate -->
                                            <div class="mt-3">
                                                <label for="eventDateLabel09"
                                                       class="form-label"
                                                       th:text="#{common.choose_eventdate}">
                                                </label>
                                                <input type="date"
                                                       class="form-control"
                                                       name="eventDate"
                                                       th:value="${certificateOrder.eventDate}"
                                                       disabled
                                                       id="eventDateLabel09">
                                            </div>

                                            <!-- CertificateOrder certificate -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.certificate}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        disabled
                                                        name="certificate">
                                                    <th:block
                                                            th:each="certificateNameDto : ${certificateNameDtoList}">
                                                        <option th:value="${certificateNameDto.id}"
                                                                th:text="${certificateNameDto.name}"
                                                                th:selected="${certificateNameDto.name == certificateOrder.certificate.name}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder certificateDecoration -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{common.decoration}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        disabled
                                                        name="certificateDecoration">
                                                    <th:block
                                                            th:each="certificateDecorationNameDto : ${certificateDecorationNameDtoList}">
                                                        <option th:value="${certificateDecorationNameDto.id}"
                                                                th:text="${certificateDecorationNameDto.name}"
                                                                th:selected="${certificateDecorationNameDto.name == certificateOrder.certificateDecoration.name}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!-- CertificateOrder user -->
                                            <div class="input-group mt-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_user.login}">
                                                    </span>
                                                <select class="form-select"
                                                        aria-label="Default select example"
                                                        disabled
                                                        name="user">
                                                    <th:block th:each="userNameDto : ${userNameDtoList}">
                                                        <option th:value="${userNameDto.username}"
                                                                th:text="${userNameDto.username}"
                                                                th:selected="${userNameDto.username == certificateOrder.user.username}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                    th:text="#{common.button.cancel}">
                                            </button>

                                            <button class="btn btn-danger"
                                                    th:text="#{common.button.delete}">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <!-- Pagination control -->
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${certificateOrderPage.page.totalPages > 1}">
                    <li class="page-item"
                        th:classappend="${!certificateOrderPage.control.isPrevEnable()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber - 1} + '&sortField=' + ${sortField} + '&sortDirection='+ ${sortDirection}}"
                           tabindex="-1"
                           th:text="#{common.button.previous_pagination}">
                        </a>
                    </li>
                    <th:block th:each="item : ${certificateOrderPage.control.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == certificateOrderPage.control.pageNumber? 'active' : ''}"
                            th:if="${item.type.name() == 'PAGE'}">
                            <a class="page-link"
                               th:href="@{'/admin/certificateorder?pageNumber=' + ${item.index} + '&sortField=' + ${sortField} + '&sortDirection='+ ${sortDirection}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.type.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item"
                        th:classappend="${!certificateOrderPage.control.isNextEnable()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/admin/certificateorder?pageNumber=' + ${certificateOrderPage.control.pageNumber + 1} + '&sortField=' + ${sortField} + '&sortDirection='+ ${sortDirection}}"
                           th:text="#{common.button.next_pagination}">
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
        <span th:unless="${condition}" class="text-danger" th:text="#{menu_admin.common.no_data}"></span>
    </div>
</div>

</div>
<footer th:insert="common/admin_footer :: content"></footer>
</body>
</html>