.underline{
    text-decoration: underline;
}
div{
    font-family: 'Roboto Condensed', sans-serif;
}

.icon_size_20 {
    font-size: 20px;
}

.icon_size_24 {
    font-size: 24px;
}

.wrapper_w {
    width: 100%;
    height: 200px;
}

.wrapper_h {
    width: 50px;
    height: 100%;
}

.img__object__fit img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__content{
    z-index: 10;
    color: white;
    opacity: .8;
    text-align: center;
}
.intro__media-video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}
.intro__media::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0.5,0.5,0.5,.1);
}
.intro__media{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #cccc url("/img/video_first_shoot.jpg") no-repeat center center;
    background-size: cover;
}

.top-panel {
    position: sticky;
    top: 0;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + div {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
    filter: brightness(.5);
    color:rgba(var(--bs-primary-rgb),var(--bs-text-opacity))
}
