<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/admin_header :: content"></header>

<div class="container">
    <div class="row mx-2 mt-5">
        <div th:with="condition=${certificateTypeList != null and !certificateTypeList.isEmpty()}">
            <div th:if="${condition}">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">№</th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.name}"></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.activity}"></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.management}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="certificateType, state : ${certificateTypeList}">
                        <form method="post" th:action="@{'/admin/certificatetype/{id}' (id=${certificateType.id})}">
                            <tr>
                                <td class="text-center align-middle" th:text="${state.index+1}"></td>
                                <td class="text-center align-middle" th:text="#{${certificateType.name}}"></td>
                                <td class="text-center align-middle">
                                    <h4><i th:if="${certificateType.activity}"
                                           class="bi bi-check-circle-fill text-success"></i></h4>
                                    <h4><i th:unless="${certificateType.activity}"
                                           class="bi bi-x-circle-fill text-danger"></i></h4>
                                </td>
                                <td class="text-center align-middle">
                                    <input type="hidden" name="_method" value="update"/>
                                    <button th:if="${certificateType.activity}"
                                            class="btn btn-outline-danger col-xl-6 col-lg-2">
                                            <i class="bi bi-x-circle d-xl-none"></i>
                                            <span class="d-none d-xl-block"
                                                  th:text="#{menu_admin.common.button.deactivate}"></span>
                                    </button>
                                    <button th:unless="${certificateType.activity}"
                                            class="btn btn-outline-success col-xl-6 col-lg-2">
                                            <i class="bi bi-check-circle d-xl-none"></i>
                                            <span class="d-none d-xl-block"
                                                  th:text="#{menu_admin.common.button.activate}"></span>
                                    </button>
                                </td>
                            </tr>
                        </form>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <span th:unless="${condition}" class="text-danger" th:text="#{menu_admin.common.no_data}"></span>
        </div>
    </div>
</div>
<footer th:insert="common/admin_footer :: content"></footer>
</body>
</html>