<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/admin_header :: content"></header>

<div class="container">

    <!-- Add new photosession -->
    <div class="row mx-2 mt-5">
        <div class='d-flex justify-content-start'>
            <form th:action="@{/admin/photosession/}" th:method="post"
                  th:object="${photosession}">
                <button type="button"
                        class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#add-photosession"
                        th:text="#{common.button.add}">
                </button>
                <!-- Modal for add photosession -->
                <div class="modal fade" id="add-photosession" tabindex="-1"
                     role="dialog" aria-labelledby="exampleModalLabel22" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel22" th:text="#{common.button.adding}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!-- Photosession id -->
                                <!-- NOT FILL -->

                                <!-- Photosession name -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          th:text="#{menu_admin.common.table.name}">
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           name="name"
                                           aria-describedby="photosessionName">
                                </div>

                                <!-- Photosession description -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          th:text="#{menu_admin.common.table.description}">
                                    </span>
                                    <textarea class="form-control"
                                              aria-label="With textarea"
                                              rows="5"
                                              name="description"></textarea>
                                </div>

                                <!-- Photosession photoFile -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          th:text="#{menu_admin.common.table.photo_file}">
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           name="photoFile">
                                </div>

                                <!-- Horse count in photosession -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          id="photosessionHorseCount"
                                          th:text="#{menu_admin.common.table.horse_count}">
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           name="horseCount"
                                           aria-describedby="photosessionHorseCount">
                                </div>

                                <!-- Duration -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          id="photosessionDuration"
                                          th:text="#{menu_admin.common.table.duration}">
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           name="duration"
                                           aria-describedby="photosessionDuration">
                                </div>

                                <!-- Price -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50"
                                          id="photosessionPrice"
                                          th:text="#{menu_admin.common.table.price}">
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           name="price"
                                           aria-describedby="photosessionPrice">
                                </div>

                                <!-- Is photosession active -->
                                <div class="input-group mb-3">
                                    <h5>
                                        <div class="form-check form-switch">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   aria-describedby="photosessionActivity"
                                                   name="activity">
                                        </div>
                                    </h5>
                                    <span class="text-black-50"
                                          id="photosessionActivity"
                                          th:text="#{menu_admin.common.table.activity}">
                                    </span>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        th:text="#{common.button.cancel}">
                                </button>

                                <button class="btn btn-primary"
                                        th:text="#{common.button.save}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <!-- Table -->
    <div class="row mx-2 mt-2">
        <div th:with="condition=${photosessionList != null and !photosessionList.isEmpty()}">
            <div th:if="${condition}">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">№</th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.name}"></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.description}"></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.photo_file}"></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.horse_count}"></th>
                        <th class="text-center align-middle"><i class="bi bi-clock icon_size_24"></i></th>
                        <th class="text-center align-middle"><i class="bi bi-coin icon_size_24"></i></th>
                        <th class="text-center align-middle" th:text="#{menu_admin.common.table.activity}"></th>
                        <th class="text-center align-middle"><i class="bi bi-sliders icon_size_24"></i></th>
                        <th class="text-center align-middle"><i class="bi bi-x-lg icon_size_24"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="photosession, state : ${photosessionList}">
                        <tr>
                            <td class="text-center align-middle" th:text="${state.index+1}"></td>
                            <td class="text-center align-middle" th:text="${photosession.name}"></td>
                            <td class="align-middle" th:text="${photosession.description}"></td>
                            <td class="text-center align-middle">
                                <img th:src="@{${'/img/'+photosession.photoFile}}"
                                     class="img-fluid" alt="">
                            </td>
                            <td class="text-center align-middle" th:text="${photosession.horseCount}"></td>
                            <td class="text-center align-middle" th:text="${photosession.duration}"></td>
                            <td class="text-center align-middle" th:text="${photosession.price}"></td>
                            <td class="text-center align-middle">
                                <i th:if="${photosession.activity}"
                                       class="bi bi-check-circle-fill text-success icon_size_24"></i>
                                <i th:unless="${photosession.activity}"
                                       class="bi bi-x-circle-fill text-danger icon_size_24"></i>
                            </td>

                            <!-- Form for editing item -->
                            <form th:action="@{/admin/photosession/}" th:method="post"
                                  th:object="${photosession}">
                                <td class="text-center align-middle">
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            th:attr="data-bs-target='#editphotosession'+${photosession.id}">
                                            <i class="bi bi-pencil-square icon_size_20"></i>
                                    </button>
                                </td>

                                <!-- Modal for edit photosession -->
                                <div class="modal fade" th:id="${'editphotosession'+photosession.id}" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel24" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel24" th:text="#{common.button.editing}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <!-- Photosession id -->
                                                <input type="hidden"
                                                       th:value="${photosession.id}"
                                                       name="id">

                                                <!-- Photosession name -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.name}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.name}"
                                                           name="name">
                                                </div>

                                                <!-- Photosession description -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                            th:text="#{menu_admin.common.table.description}">
                                                    </span>
                                                    <textarea class="form-control"
                                                              aria-label="With textarea"
                                                              th:text="${photosession.description}"
                                                              rows="5"
                                                              name="description"></textarea>
                                                </div>

                                                <!-- Photosession photoFile -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.photo_file}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.photoFile}"
                                                           name="photoFile">
                                                </div>

                                                <!-- Horse count in photosession -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionHorseCount"
                                                          th:text="#{menu_admin.common.table.horse_count}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.horseCount}"
                                                           name="horseCount"
                                                           th:aria-label="${photosession.horseCount}"
                                                           aria-describedby="photosessionHorseCount">
                                                </div>

                                                <!-- Duration -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionDuration"
                                                          th:text="#{menu_admin.common.table.duration}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.duration}"
                                                           name="duration"
                                                           th:aria-label="${photosession.duration}"
                                                           aria-describedby="photosessionDuration">
                                                </div>

                                                <!-- Price -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionPrice"
                                                          th:text="#{menu_admin.common.table.price}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.price}"
                                                           name="price"
                                                           th:aria-label="${photosession.price}"
                                                           aria-describedby="photosessionPrice">
                                                </div>

                                                <!-- Is photosession active -->
                                                <div class="input-group mb-3">
                                                    <h5>
                                                        <div class="form-check form-switch">
                                                            <input type="checkbox"
                                                                   class="form-check-input"
                                                                   th:checked="${photosession.activity}"
                                                                   name="activity">
                                                        </div>
                                                    </h5>
                                                    <span class="text-black-50"
                                                          id="photosessionActivity"
                                                          th:text="#{menu_admin.common.table.activity}">
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                        th:text="#{common.button.cancel}">
                                                </button>

                                                <button class="btn btn-primary"
                                                        th:text="#{common.button.save_changes}">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>



                            <!-- Form for deleting item -->
                            <form th:action="@{/admin/photosession/delete}" th:method="post"
                                  th:object="${photosession}">
                                <td class="text-center align-middle">
                                    <button type="button"
                                            class="btn btn-outline-danger"
                                            data-bs-toggle="modal"
                                            th:attr="data-bs-target='#deletephotosession'+${photosession.id}">
                                        <i class="bi bi-trash3 icon_size_20"></i>
                                    </button>
                                </td>

                                <!-- Modal for delete photosession -->
                                <div class="modal fade" th:id="${'deletephotosession'+photosession.id}" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel25" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel25" th:text="#{common.button.deleting}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <!-- Photosession id -->
                                                <input type="hidden"
                                                       th:value="${photosession.id}"
                                                       name="id">

                                                <!-- Photosession name -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.name}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.name}"
                                                           name="name"
                                                           disabled>
                                                </div>

                                                <!-- Photosession description -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.description}">
                                                    </span>
                                                    <textarea class="form-control"
                                                              aria-label="With textarea"
                                                              th:text="${photosession.description}"
                                                              rows="5"
                                                              name="description"
                                                              disabled></textarea>
                                                </div>

                                                <!-- Photosession photoFile -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text text-black-50"
                                                          th:text="#{menu_admin.common.table.photo_file}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.photoFile}"
                                                           disabled
                                                           name="photoFile">
                                                </div>

                                                <!-- Horse count in photosession -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionHorseCount"
                                                          th:text="#{menu_admin.common.table.horse_count}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.horseCount}"
                                                           name="horseCount"
                                                           th:aria-label="${photosession.horseCount}"
                                                           disabled
                                                           aria-describedby="photosessionHorseCount">
                                                </div>

                                                <!-- Duration -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionDuration"
                                                          th:text="#{menu_admin.common.table.duration}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.duration}"
                                                           name="duration"
                                                           th:aria-label="${photosession.duration}"
                                                           disabled
                                                           aria-describedby="photosessionDuration">
                                                </div>

                                                <!-- Price -->
                                                <div class="input-group mb-3">

                                                    <span class="input-group-text text-black-50"
                                                          id="photosessionPrice"
                                                          th:text="#{menu_admin.common.table.price}">
                                                    </span>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:value="${photosession.price}"
                                                           name="price"
                                                           th:aria-label="${photosession.price}"
                                                           disabled
                                                           aria-describedby="photosessionPrice">
                                                </div>

                                                <!-- Is decoration active -->
                                                <div class="input-group mb-3">
                                                    <h5>
                                                        <div class="form-check form-switch">
                                                            <input type="checkbox"
                                                                   class="form-check-input"
                                                                   th:checked="${photosession.activity}"
                                                                   name="activity"
                                                                   disabled>
                                                        </div>
                                                    </h5>
                                                    <span class="text-black-50"
                                                          id="certDecorationActivity"
                                                          th:text="#{menu_admin.common.table.activity}">
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                        th:text="#{common.button.cancel}">
                                                </button>

                                                <button class="btn btn-danger"
                                                        th:text="#{common.button.delete}">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <span th:unless="${condition}" class="text-danger" th:text="#{menu_admin.common.no_data}"></span>
        </div>
    </div>
</div>
<footer th:insert="common/admin_footer :: content"></footer>
</body>
</html>