<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/user_header :: content"></header>

<div class="container-fluid">
    <div th:if="${certificate}">
        <div class="wrapper_w img__object__fit">
            <img th:src="@{${'/img/'+certificate.photoFile}}">
        </div>
        <div class="row mt-4 text-center">
            <h2 th:text="${certificate.name}">
            </h2>
        </div>
        <div class="row mt-1 text-center">
            <strong th:text="${certificate.description}">
            </strong>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="offset-2 d-flex align-items-center">
            <div class="col flex-shrink-0">
                <img class="w-100" th:src="@{${'/img/'+certificate.photoFile}}">
            </div>
            <div class="col my-2 flex-grow-1 ms-3">
                <div>
                    <i class="bi bi-suit-spade my-2 font_size_24"></i>
                    <strong th:text="#{menu_admin.common.table.horse_count} + ': '"></strong>
                    <span class="font_size_24" th:text="${certificate.horseCount}"></span>
                </div>
                <div>
                    <i class="bi bi-clock my-2 font_size_24"></i>
                    <strong th:text="#{menu_admin.common.table.duration} + ': '"></strong>
                    <span class="font_size_24" th:text="${certificate.duration}"></span>
                </div>
                <div>
                    <i class="bi bi-camera my-2 font_size_24"></i>
                    <strong th:text="#{menu_admin.common.table.photographer_included} + ': '"></strong>
                    <span class="font_size_24" th:text="${certificate.photographerIncluded}"></span>
                </div>
                <div>
                    <i class="bi bi-coin my-2 font_size_24"></i>
                    <strong th:text="#{menu_admin.common.table.price} + ': '"></strong>
                    <span class="font_size_24" th:text="${certificate.price}"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:with="condition=${activeCertificateDecorationList != null and !activeCertificateDecorationList.isEmpty()}">
        <div th:if="${condition}">
            <div class="row mt-4">

                <th:block th:each="certificateDecoration : ${activeCertificateDecorationList}">
                    <label class="card col-3 ms-auto me-auto mt-4" style="width: 18rem;">
                        <input type="radio" name="test" th:value="${certificateDecoration.id}">
                        <div>
                            <img th:src="@{${'/img/'+certificateDecoration.photoFile}}"
                                 class="card-img-top" alt="..."
                                 data-bs-toggle="tooltip"
                                 data-bs-placement="top"
                                 th:attr="title=${certificateDecoration.description}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${certificateDecoration.name}"></h5>
                            </div>
                        </div>
                    </label>
                </th:block>
            </div>
        </div>
        <div class="row mt-4 text-center">
            <span th:unless="${condition}" class="text-danger text-center"
                  th:text="#{menu_admin.common.no_data}"></span>
        </div>
    </div>
</div>
<footer th:insert="common/user_footer :: content"></footer>
</body>
</html>