<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/user_header :: content"></header>

<div class="container-fluid">
    <div class="wrapper_w img__object__fit">
        <img th:src="@{/img/certificate_common.jpg}">
    </div>
    <div class="row mt-4">
        <div th:with="condition=${activeCertificateTypeList != null and !activeCertificateTypeList.isEmpty()}">
            <div th:if="${condition}">
                <div class="dropdown">
                    <a class="btn btn-outline-dark dropdown-toggle"
                       href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{menu_user.certificate.choose_certificate_type}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <th:block th:each="certificateType : ${activeCertificateTypeList}">
                            <form method="get" th:action="@{'/certificate/{id}' (id=${certificateType.id})}">
                                <li>
                                    <button class="dropdown-item"
                                            th:text="${certificateType.name}">
                                    </button>
                                </li>
                            </form>
                        </th:block>
                        <form method="get" th:action="@{/certificate}">
                            <li>
                                <button class="dropdown-item"
                                        th:text="#{common.button.all}">
                                </button>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
            <span th:unless="${condition}" class="text-danger" th:text="#{menu_admin.common.no_data}"></span>
        </div>
    </div>
    <div th:with="condition=${activeCertificateList != null and !activeCertificateList.isEmpty()}">
        <div th:if="${condition}">
            <div class="row mt-4">

                <th:block th:each="certificate : ${activeCertificateList}">

                    <div class="card col-3 ms-auto me-auto mt-4" style="width: 18rem;">
                        <img th:src="@{${'/img/'+certificate.photoFile}}"
                             class="card-img-top" alt="..."
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             th:attr="title=${certificate.description}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${certificate.name}"></h5>
                            <!--                            <p class="card-text">Some quick example text to build on the card title and make up the
                                                            bulk of the card's content.</p>-->
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="bi bi-suit-spade"></i>
                                        </div>
                                        <div class="col-1">
                                            <span th:text="${certificate.horseCount}">
                                            </span>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-1">
                                            <i class="bi bi-clock"></i>
                                        </div>
                                        <div class="col-3">
                                            <span th:text="${certificate.duration}">
                                            </span>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-1">
                                            <i class="bi bi-camera"></i>
                                        </div>
                                        <div class="col-1">
                                            <i th:if="${certificate.photographerIncluded}"
                                               class="bi bi-plus-square-fill text-primary"></i>
                                            <i th:unless="${certificate.photographerIncluded}"
                                               class="bi bi-dash-square-fill text-black-50"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 text-start">
<!--
                                        <a href="#" class="card-link">Order</a>
-->
                                        <form th:action="@{/certificate/order}" th:method="post"
                                              th:object="${certificate}">
                                            <input type="hidden"
                                                   th:value="${certificate.id}"
                                                   name="id">
                                            <input type="hidden"
                                                   th:value="${certificate.certificateType.id}"
                                                   name="certificateType">
                                            <input type="hidden"
                                                   th:value="${certificate.name}"
                                                   name="name">
                                            <input type="hidden"
                                                   th:value="${certificate.description}"
                                                   name="description">
                                            <input type="hidden"
                                                   th:value="${certificate.photoFile}"
                                                   name="photoFile">
                                            <input type="hidden"
                                                   th:value="${certificate.horseCount}"
                                                   name="horseCount">
                                            <input type="hidden"
                                                   th:value="${certificate.duration}"
                                                   name="duration">
                                            <input type="hidden"
                                                   th:value="${certificate.price}"
                                                   name="price">
                                            <input type="hidden"
                                                   th:value="${certificate.photographerIncluded}"
                                                   name="photographerIncluded">
                                            <input type="hidden"
                                                   th:value="${certificate.activity}"
                                                   name="activity">

                                            <button class="btn btn-outline-primary"
                                                    th:text="#{common.button.order}">
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-6 text-end">
                                        <strong th:text="${certificate.price} + ' ' + #{common.byn}">
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>

            </div>
        </div>
        <div class="row mt-4 text-center">
            <span th:unless="${condition}" class="text-danger" th:text="#{menu_admin.common.no_data}"></span>
        </div>
    </div>

    <footer th:insert="common/user_footer :: content"></footer>
</body>
</html>