<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/user_header :: content"></header>

<div class="container-fluid">

    <div th:if="${certificateOrderDto.certificate}" class="wrapper_w img__object__fit">
        <img th:src="@{${'/img/'+certificateOrderDto.certificate.photoFile}}">
    </div>

    <table class="table mt-4">
        <tbody>
        <tr>
            <td class="text-center align-middle text-secondary">
                <a th:href="@{/certificate}">
                    <i class="bi bi-check2-square fs-1 text-secondary"></i>
                </a>
            </td>
            <td class="text-center align-middle text-primary">
                <i class="bi bi-brush fs-1"></i>
            </td>
            <td class="text-center align-middle">
                <a th:if="${certificateOrderDto.certificateDecoration}"
                   th:href="@{/certificate/additional}">
                    <i class="bi bi-pencil-square fs-1 text-secondary"></i>
                </a>
                <div th:unless="${certificateOrderDto.certificateDecoration}">
                    <i class="bi bi-pencil-square fs-1 text-black-50"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">
                <a th:href="@{/certificate}"
                   class="text-secondary"
                   th:text="#{common.button.choose_certificate}">
                </a>
            </td>
            <td class="text-center align-middle text-primary"
                th:text="#{common.button.choose_certificate_decoration}">
            </td>
            <td class="text-center align-middle">
                <a th:if="${certificateOrderDto.certificateDecoration}"
                        th:href="@{/certificate/additional}"
                   class="text-secondary"
                   th:text="#{common.button.additional_data}">
                </a>
                <div th:unless="${certificateOrderDto.certificateDecoration}"
                     class="text-black-50"
                     th:text="#{common.button.additional_data}">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/certificate/decoration}" th:object="${certificateOrderDto}">
        <div th:if="${certificateOrderDto.certificate}">
            <div class="row mt-4 text-center">
                <h2 th:text="${certificateOrderDto.certificate.name}">
                </h2>
            </div>
            <div class="row mt-1 text-center">
                <strong th:text="${certificateOrderDto.certificate.description}">
                </strong>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="offset-2 d-flex align-items-center">
                <div class="col flex-shrink-0">
                    <img class="w-100" th:src="@{${'/img/'+certificateOrderDto.certificate.photoFile}}">
                </div>
                <div class="col my-2 flex-grow-1 ms-3">
                    <div>
                        <i class="bi bi-suit-spade my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.horse_count} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.horseCount}"></span>
                    </div>
                    <div>
                        <i class="bi bi-clock my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.duration} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.duration}"></span>
                    </div>
                    <div th:if="${certificateOrderDto.certificate.photographerIncluded}">
                        <i class="bi bi-camera my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.photographer_included}"></strong>
                    </div>
                    <div>
                        <i class="bi bi-coin my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.price} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.price}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div th:with="condition=${activeCertificateDecorationList != null and !activeCertificateDecorationList.isEmpty()}">
            <div th:if="${condition}">
                <div class="row mt-4">

                    <th:block th:each="certDecor : ${activeCertificateDecorationList}">
                        <label class="card col-3 ms-auto me-auto mt-4" style="width: 18rem;">
                            <input th:if="${certificateOrderDto.certificateDecoration}"
                                    type="radio" name="certificateDecoration"
                                   th:checked="${certDecor.id == certificateOrderDto.certificateDecoration.id}"
                                   th:value="${certDecor.id}">
                            <input th:unless="${certificateOrderDto.certificateDecoration}"
                                   type="radio" name="certificateDecoration"
                                   id="optionsRadios"
                                   th:value="${certDecor.id}">
                            <div>
                                <img th:src="@{${'/img/'+certDecor.photoFile}}"
                                     class="card-img-top" alt="..."
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     th:attr="title=${certDecor.description}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${certDecor.name}"></h5>
                                    <div class="text-end">
                                        <strong th:text="${certDecor.price} + ' ' + #{common.byn}">
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="row mt-4 text-center">
            <span th:unless="${condition}" class="text-danger text-center"
                  th:text="#{menu_admin.common.no_data}"></span>
            </div>
        </div>

        <input type="hidden" name="description"
               th:value="${certificateOrderDto.certificate.name + '&#10;' + certificateOrderDto.certificate.description + '&#10;'}">
        <div class="row offset-5 mt-5 mb-5">
            <h3>
                <button class="col-3 btn btn-outline-primary"
                        th:text="#{common.button.next}"></button>
            </h3>
        </div>
    </form>
    <script>
        document.getElementById("optionsRadios").setAttribute("checked","checked")
    </script>
</div>
<footer th:insert="common/user_footer :: content"></footer>
</body>
</html>