<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/user_header :: content"></header>

<div class="container-fluid">
    <form method="post" th:action="@{/certificateorder}" th:object="${certificateOrderDto}">
        <div th:if="${certificateOrderDto.certificate}">
            <div class="wrapper_w img__object__fit">
                <img th:src="@{${'/img/'+certificateOrderDto.certificate.photoFile}}">
            </div>
            <div class="row mt-4 text-center">
                <h2 th:text="${certificateOrderDto.certificate.name}">
                </h2>
            </div>
            <div class="row mt-1 text-center">
                <strong th:text="${certificateOrderDto.certificate.description}">
                </strong>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="offset-2 d-flex align-items-center">
                <div class="col flex-shrink-0">
                    <img class="w-100" th:src="@{${'/img/'+certificateOrderDto.certificate.photoFile}}">
                </div>
                <div class="col my-2 flex-grow-1 ms-3">
                    <div>
                        <i class="bi bi-suit-spade my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.horse_count} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.horseCount}"></span>
                    </div>
                    <div>
                        <i class="bi bi-clock my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.duration} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.duration}"></span>
                    </div>
                    <div th:if="${certificateOrderDto.certificate.photographerIncluded}">
                        <i class="bi bi-camera my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.photographer_included}"></strong>
                    </div>
                    <div>
                        <i class="bi bi-coin my-2 font_size_24"></i>
                        <strong th:text="#{menu_admin.common.table.price} + ': '"></strong>
                        <span class="font_size_24" th:text="${certificateOrderDto.certificate.price}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Username"
                   th:placeholder="#{menu_user.certificate_owner}"
                   th:field="*{owner}">
        </div>

        <div class="row">
            <input type="date" class="form-control" th:field="*{eventDate}" placeholder="Choose event date">
        </div>

        <div th:if="${currentUser}">
            <input type="hidden" name="user" th:value="${currentUser.username}">
        </div>

        <div th:with="condition=${activeCertificateDecorationList != null and !activeCertificateDecorationList.isEmpty()}">
            <div th:if="${condition}">
                <div class="row mt-4">

                    <th:block th:each="certDecor : ${activeCertificateDecorationList}">
                        <label class="card col-3 ms-auto me-auto mt-4" style="width: 18rem;">
                            <input th:if="${certificateOrderDto.certificateDecoration}"
                                    type="radio" name="certificateDecoration"
                                   th:checked="${certDecor.id == certificateOrderDto.certificateDecoration.id}"
                                   th:value="${certDecor.id}">
                            <input th:unless="${certificateOrderDto.certificateDecoration}"
                                   type="radio" name="certificateDecoration"
                                   id="optionsRadios"
                                   th:value="${certDecor.id}">
                            <div>
                                <img th:src="@{${'/img/'+certDecor.photoFile}}"
                                     class="card-img-top" alt="..."
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     th:attr="title=${certDecor.description}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${certDecor.name}"></h5>
                                </div>
                            </div>
                        </label>
                    </th:block>
                </div>
                <div class="text-danger mb-2" th:if="${#fields.hasErrors('certificateDecoration')}"
                     th:errors="*{certificateDecoration}">
                </div>

            </div>
            <div class="row mt-4 text-center">
            <span th:unless="${condition}" class="text-danger text-center"
                  th:text="#{menu_admin.common.no_data}"></span>
            </div>
        </div>
        <div class="text-danger mb-2" th:if="${#fields.hasErrors('owner')}"
             th:errors="*{owner}">
        </div>
        <div class="text-danger mb-2" th:if="${#fields.hasErrors('eventDate')}"
             th:errors="*{eventDate}">
        </div>
        <input type="hidden" name="description"
               th:value="${certificateOrderDto.certificate.name + '&#10;' + certificateOrderDto.certificate.description + '&#10;'}">
        <div class="row offset-5 mt-5 mb-5">
            <h3>
                <button class="col-3 btn btn-outline-primary"
                        th:text="#{common.button.order}"></button>
            </h3>
        </div>
    </form>
    <script>
        document.getElementById("optionsRadios").setAttribute("checked","checked")
    </script>
</div>
<footer th:insert="common/user_footer :: content"></footer>
</body>
</html>