<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
    <header th:insert="common/user_header :: content"></header>

    <div class="intro">
        <div class="intro__media">
            <video class="intro__media-video" th:src="@{/horses.mp4}" autoplay loop muted></video>
        </div>
        <div class="intro__content">
            <img th:src="@{/logo_middle.png}" th:alt="#{common.horse_club.name}">
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>

    <footer th:insert="common/user_footer :: content"></footer>
</body>
</html>