<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/metadata :: content"></head>
<body>
<header th:insert="common/user_header :: content"></header>

<div class="container-fluid">
    <form method="post" th:action="@{/registration}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/><br/>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"/><br/>
        <input type="submit" value="Register">
    </form>
</div>
<footer th:insert="common/user_footer :: content"></footer>
</body>
</html>